# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
out/*

# CMake
CMakeLists.txt
cmake-build-debug

# Jetbrains IDE files
.idea/*

# Input and Output folders
input/*
output/*

# JAR META-INF
*/META-INF/*