* {
    /*Set Global Primary and Secondary Color Variables*/

    -fx--primary: #35344b;
    -fx--primary-dark: #313045;
    -fx--primary-light: #5e5e87;

    -fx--secondary: white;
    -fx--secondary-light: #819ca9;
    -fx--secondary-dark: #29434e;

    -fx--error: #D34336;
}

Label, Text {
    -fx-text-fill: -fx--primary-dark;
    -fx-fill: -fx--primary-dark;
}

ScrollPane {
    /*-fx-background-color: ;*/ /*scrollpane border highlight on click*/
}

.scroll-pane > .viewport {
    -fx-background-color: -fx--secondary;
}

JFXTextField, JFXTextArea, JFXComboBox, JFXPasswordField {
    -fx-background-color: rgba(0,0,0,.05); /*form bounding box color*/
    -jfx-unfocus-color: rgba(0,0,0,.42); /*bottom line unfocused*/
    -jfx-focus-color: -fx--primary-dark; /*bottom line focused*/
    -jfx-label-float: true; /*label will float above when field is selected*/
    -fx-prompt-text-fill: -fx--primary; /*prompt text before entry*/
}

JFXTextField:hover, JFXTextArea:hover, JFXComboBox:hover, JFXPasswordField:hover {
    -fx-background-color: rgba(0,0,0,.1); /*form bounding box color*/
    -jfx-unfocus-color: rgba(0,0,0,.87); /*bottom line unfocused*/
    -jfx-focus-color: -fx--primary-light; /*bottom line focused, and combobox name focused color*/
}

.combo-box .cell:selected, .text:focused {
    -fx-text-fill: -fx--primary; /*text within combobox after selection*/
}

.combo-box .cell {
    /*-fx-text-fill: */ /*text within dropdown menu*/
}


.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: rgba(255, 255, 255, 0.50);
    /*-fx-text-fill: white ;*/
    /*-fx-font-family: "Calibri" ;*/
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: -fx--primary-dark ;
    -fx-background-color: -fx--primary-light;
}

.cell:selected {
    -fx-text-fill: -fx--primary-dark; /*selected item's text color*/
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: -fx--primary-light;
}

/*------------------------
    SNACKBAR STYLES
--------------------------*/

.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

AnchorPane {
    -fx-background-color: -fx--secondary;
}

MaterialDesignIconView {
    -fx-fill: -fx--primary-dark; /*text color of material design icons*/
}